@import "bootstrap/scss/bootstrap";
.drag-item
{
  background-color: #e7e7e7;
  border:1px solid #dcdcdc;
  width:100%;
  padding: 10px;
  p
  {
    margin-bottom: 0px;
    font-size: 130%;
  }
}

.sdcv-moving
{
  .drag-item
  {
    background-color: rgb(182, 182, 182);
  }
}
.list-move, /* apply transition to moving elements */
    .list-enter-active,
    .list-leave-active {
        transition: all 0.25s;
    }

    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: scale(0);
        
    }




